.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 32px;
    background-color: #ffffff;

    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    font-weight: 800;
    color: #6b4fa1;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 6px;
}

.links {
    display: flex;
    align-items: center;
    gap: 14px;
}

.links a {
    text-decoration: none;
    font-weight: 500;

    color: #6b4fa1;
    padding: 8px 14px;
    border-radius: 14px;

    transition: all 0.2s ease;
}

.links a:hover {
    background-color: #f3eefc;
}

.links a.active {
    background-color: #6b4fa1;
    color: white;
}
