/* src/styles/SearchIcon.css */

.searchIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.searchIcon svg {
    display: block;
}

.searchIcon__lens {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

.searchIcon--animate .searchIcon__lens {
    animation: search-wiggle calc(1.2 * var(--search-duration, 1s)) ease-in-out;
}

.searchField:hover .searchIcon__lens,
.searchField:focus-within .searchIcon__lens {
    animation: search-wiggle calc(1.2 * var(--search-duration, 1s)) ease-in-out;
}

@keyframes search-wiggle {
    0% { transform: translate(0, 0) rotate(0deg); }
    20% { transform: translate(2px, -1px) rotate(6deg); }
    40% { transform: translate(-2px, 2px) rotate(-6deg); }
    60% { transform: translate(1px, -1px) rotate(4deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
